@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

body {
  background: #eee;
  color: #777;
  font-family: Lato;
}

.banner {
  width: 100%;
  height: 20em;
  background: #049FE1;
  position: absolute;
  top: 0;
  left: 0;
}

.em {
  color: #049fe1;
}
